
@keyframes glitch {
  from  {
    transform: rotate(1000deg) translateX(868px) rotate(50deg);
  }
  to{
    transform: rotate(360deg) translateX(506px) rotate(-360px);
  }
}

@keyframes ultimate {
  from  {
    transform: rotate(100deg) translateX(867px) rotate(590deg);
  }
  to{
    transform: rotate(340deg) translateX(216px) rotate(760px);
  }
}

@keyframes dfc {
  from  {
    transform: rotate(1000deg) translateX(868px) rotate(50deg);
  }
  to{
    transform: rotate(360deg) translateX(506px) rotate(-360px);
  }
}

body {
  background-image: url("backrooms.jpg");
}

.ultimate{
animation: ultimate 8s linear infinite;
}

.glitch{
  animation: glitch 8s linear infinite;
}
.dfc:hover{
  
}
.button1 {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
    margin: 0% auto;
    position: absolute;
    top: 450px;
    left:900px;
    box-shadow: 0px 10px 51px red;
    font-family:fantasy;
    font-size: 30px;
    color: white;
    cursor: pointer;
    }

    .angry {
      background-color: rgb(95, 3, 3) !important;
      animation: 5s back-and-forth ease-in-out infinite;
    }

    .button2{
      background-color: green;
      left:750px;
      box-shadow: 0px 10px 51px green;
    }

    .container{
      border-radius: 2px;
    }

  
      #button1:hover{
          text-decoration: underline;
      }

      #text{
        position: absolute;
        top:350px;
        left:800px;
      }

      
      .movement{
        top:503px;
        left:390px;
      }

      .movement2{
        top:100px;
        left:208x;
      }

      .movement3{
        top:700px;
        left:670px;
      }

      .movement4{
        top:400px;
        left:134px;
      }

      .movement5{
        top:600px;
        left:210px;
      }